<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <nav>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('services')}}">Services</a>
    </nav>


    <h1>Home</h1>
    <p>Esta es la página principal de la aplicación.</p>
    <p>Flask es un microframework para Python que facilita crear aplicaciones web ligeras y rápidas.</p>
    <p>Con Flask puedes definir rutas, renderizar plantillas HTML y manejar formularios de forma sencilla.</p>
    <p>En este proyecto, la página Home muestra información sobre Flask y su uso en el desarrollo web.</p>
</body>
</html>
