<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gracias por tu preferencia - VWS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/thanks.css') }}">
</head>

<body>
    <main >
        
        <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo VWS" class="logo">
        
  
        {%if mensaje%}
        <p>{{mensaje}}</p>
      {%endif%}

    </main>
</body>
</html>